@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:-apple-system, sans-serif;
}
:root{
    --bg-color: #000;
    --snd-bg-color:#111:;
    --text-colr:#fff;
    --main-color:#ef5f12
    ;
}
html{
    font-size:62.5% ;
    overflow-x: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-colr);
    margin-left: auto;
}

section{
    padding:10rem 8% 2rem ;
}

.logo{
    font-size: 3rem;
    color: var(--text-colr);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
span{
    color: var(--main-color);
}
header{
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 8%;
    background:var(--bg-color);
    backdrop-filter: blur(10px);
    transition: all;
    font-size: 3rem;
    font-weight: 500;
}
.checkbtn{
    display: none;
}
nav{
    background: var(--bg-color);
    width: 100%;
}
nav ul{
    float:right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: var(--text-colr);
    font-size: 17px;
    text-transform: uppercase;
}
a:hover,
a:active{
    color: var(--main-color);
    border-bottom:3px solid var(--main-color) ;
}

.nav-btn{
    display: inline-block;
    padding: 1rem 2rem ;
    background: transparent;
    color: var(--main-color);
    border: 2px solid    var(--main-color) ;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
}
.nav-btn:hover{
    transform: scale(1.1);
    color: var(--text-colr);
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://raw.githubusercontent.com/Esamkheder/Coach.Mohammed-EL-Bous/refs/heads/main/images/panoramic-view-abstract-fog-white-600nw-2043241487.webp)no-repeat;
    background-size:cover;;
    background-position: center;
    background-attachment: fixed;
}
.social-icons a ,.footter-social-icons a {
    color: #fff;
    font-size: 3em;
    padding-right: 30px;
    padding: auto;
    transition: 0.7s ease;
    margin-bottom:  30px;
    margin-left: 10px;
}
.social-icons a :hover{
    
    transform: scale(1.1);
}
.home-content h3{
    font-size: 5rem;
    font-weight: 700;
    color: var(--main-color);
}

.home-content span{
    font-size: 4rem;
    font-weight: 550;

}
span{
    color: var(--main-color);

}
.home-content h4 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img{
    width: 30vw;
    height: 45vw;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius:1rem ;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    margin-top: 8px;
    margin-bottom:12px

}
.btn:hover{
    color: var(--text-colr);
    transform: scale(1.1);
}

/* about section code*/
.heading{
    text-align: center;
    display: flex;
    justify-content: center;
    color:var(--main-color);
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 30px;

 }
.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-content h2 ,.about-content p {
    font-size: 3rem;
    font-weight: 600;
    float: right;
}
.about-content p {
    text-align: left;
}
.about-content a {
    display: grid;
    place-items: center;
    margin-top: 20px;
}

.cert{
    background-color: #171616;
}
.swiper-pagination-bullet{
    color: var(--main-color);
    background: var(--main-color);
    
}
.swiper-button-prev{
    color: var(--main-color);
}
.swiper-button-next{
    color: var(--main-color);;
}
.card-list .card-item {
    list-style: none;
}
.card-list .card-item .card-link{
    width: 400px;
    display: block;
    background: var(--bg-color);
    padding: 18px;
    border-radius: 12px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: 0.5s ease;
}
.card-list .card-item .card-link:hover{
    border-color:var(--main-color);
}

.card-list .card-link .card-image{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.tab-container {
    width: 100%;
    max-width: 1500px;
}
.tabs{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #333;
    border: 1px solid #444;
    min-width: 90px;
    font-size: 3rem;
    border-radius: 1rem;
    margin: 10px;
}
.tab:hover {
    background-color: #555;
}
.tab-content {
    display: none;
    transition: opacity 0.5s ease-in-out;
}
.tab-content.active {
    display: block;
    opacity: 1;
}
.plans {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.plan {
    flex: 1;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 20px;
    min-width: 280px;
}
.plan h3 {
    margin-bottom: 10px;
    font-size: 2rem;
}
.plan p {
    margin: 5px 0;
    
}
.price {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}
.plan li{
    margin-bottom: 5px;
    margin-left: 50px;
    font-size: 1.8rem;
    text-align: left;

}
.plan li span{
    text-decoration: line-through;
    color: var(--text-colr);
}
.plan i.fa-check{
    color: #3aff04;
    margin-right: 5px;
}
.plan i.fa-xmark{
    color: #ff0404;
    margin-right: 5px;
}
.plan .buy-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: none;
    color: var(--text-colr);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.plan .buy-button:hover {
    background-color: #ff9800;
}

.payments{
    background-color:#171616;
}
.Review{
    background-color: #333;
}
.slider-container{
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
}
.image-slider {
    display: flex;
    list-style: none;
    gap: 45px;
    animation: infiniteslider 10s infinite linear alternate ;
  }
  
  @keyframes infiniteslider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-140%); /* يحرك نصف العرض */
    }
  }
  .image-slider:hover {
    
    animation-play-state: paused;
  }
  .image-slider img {
    width: 300px; /* عرض الصورة */
    height: auto;
    border-radius: 10px;
  }

.payments-cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards-content{
    background-color: var(--bg-color);
    width: 30em;
    border-radius: 12px;
    border: 2px solid transparent;
    padding: 25px;
    margin: 15px;
    transition: 0.3s ease;
}
.cards-content:hover{
    transform: scale(1.1);
    border: 2px solid var(--main-color);
    transform: scale(1.01);
}
.cards-icon img{
    width: 70px;
    height:70px;
    display: flex;
    align-content: center;
    margin: auto;
}
.info h4{
    color: var(--main-color);
    font-size: 2em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}
.info p{
    color: var(--text-colr);
    margin: 10px;
    text-align: center;
    font-size: 1.9em;
    font-weight: 500;

}
.info .btn{
    display: flex;
    justify-content: center;
}
.footer{
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    font-size:2rem ;
    color: var(--text-colr);
    }

/* Responsive adjustments */
@media (max-width: 991px) {
    html {
        font-size: 55%; /* Adjust base font size for smaller screens */
    }
    .logo{
        font-size: 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    nav ul li a{
        font-size: 16px;

    }
    .checkbtn{
        display: flex;
        margin: 0;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top :80px;
        left: 100%;
        text-align: center;
        transition: all 0.5s;
        background: var(--bg-color);
    }
    nav ul li {
        display: block;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: var(--main-color);

    }
    #check:checked ~ ul{
        left: 0;

    }
    .home{
        display: block;
        flex-direction: column;
        text-align: center;
        min-height: auto;
    }
    .home-content h3 {
        font-size: 2rem;
    }
    .home-content span, .home-content h4 {
        font-size: 3.5rem;
        font-size: 2.5rem;
    }
    .home-img img {
        flex-direction: column;
        width: 40vw;
        height: auto;
    }
    .about {
        flex-direction: column;
        text-align: center;
    }
    .about-img img {
        width: 80%;
        height: auto;
    }
    .about{
        display: flex;
       justify-content: center;
    }
    .about-content {
        padding: 0;
        margin: 2rem 0;
    }
    .about-content h2 {
        font-size: 4rem;
        margin-right: 0;
    }
    .about-content p {
        font-size: 2rem;
    }
    .tabs {
        flex-wrap: nowrap;
        margin-right: 100px;
    }
    .tab{
        padding: 8px;
        font-size: 14px;
        flex: 0 1 auto; /* Ensure tabs take up the full width on mobile */
        margin-bottom: 5px;
    }
    .card-list .card-item .card-link{
        width: 350px;
        padding: 20px;
        justify-content: center;
    }
    .card-list .card-link .card-image {
        width: 95%;
    }
    .plans {
        flex-direction: column;
        gap: 10px;
    }
    .plan {
        min-width: 100%;
    }
    .plan li{
        font-size: 1.5rem;
    
    }
    .Review h1{
        font-size: 30px;
    }
    .image-slider {
        gap: 10px; /* قلل المسافة بين الصور */
        display: flex;
        list-style: none;
        animation: infiniteslider 10s infinite linear alternate  ;
    }
    @keyframes infiniteslider {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-630%); /* يحرك نصف العرض */
        }
      }
    .image-slider img {
        width: 250px; /* تصغير الصور للموبايل */
    }
    .footer-logo{
    font-size:1.6rem ;
    color: var(--text-colr);
    }
}

